@{
    ViewBag.Title = "Dashboard";
}

@if (Request.IsAuthenticated)
{
    <div class="col-md-12">
        <!-- widget -->
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-tasks"></i>
                <h3>Menu del Sistema</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <div class="shortcuts">
                    @if (User.IsInRole("Admin") || User.IsInRole("AllUsuarios"))
                    {
                        <a href='@Url.Action("Index", "UsuariosAdmin")' class="shortcut"><i class="fa fa-user"></i><span class="shortcut-label">Usuarios</span></a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("AllGrupos"))
                    {
                        <a href='@Url.Action("Index", "GruposAdmin")' class="shortcut"><i class="fa fa-group"></i><span class="shortcut-label">Grupos</span></a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("AllPermisos"))
                    {
                        <a href='@Url.Action("Index", "AccionesAdmin")' class="shortcut"><i class="fa fa-check"></i><span class="shortcut-label">Permisos</span></a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Vendedor"))
                    {
                        <a href='@Url.Action("Index", "Asociados")' class="shortcut"> <i class="fa fa-user-plus"></i><span class="shortcut-label">Asociados</span></a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a href='@Url.Action("Index", "Organizadores")' class="shortcut"> <i class="fa fa-sitemap"></i><span class="shortcut-label">Organizadores</span></a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Organizador"))
                    {
                        <a href='@Url.Action("Index", "Vendedores")' class="shortcut"> <i class="fa fa-users"></i><span class="shortcut-label">Vendedores</span></a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Vendedor"))
                    {
                        <a href='@Url.Action("Index", "Solicitudes")' class="shortcut"> <i class="fa fa-money"></i><span class="shortcut-label">Solicitud de Prestamos</span></a>
                    }
                </div>
                <!-- /shortcuts -->
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
}
